name: Dockerize Next.js web application
on: push
jobs:
  build-container:
    name: build container
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: build and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ture
          tags: p53512/teamhomework:latest, p53512/teamhomework:${{ github.run_number }}
